/*reset.css*/
/* RESETS */

.navbar {
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(5,5,89,1) 10%, rgba(102,102,217,1) 100%);
}



body {
  background-color: #F4F5F7;
}

.carousel {
  width: auto;
  height: 530;
  max-width: 530px;
  max-height: 500px;
}

/*END RESETS*/